<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <% if (data.url) { %>
    <h1>File Uploaded in Cloudinary</h1>
    <img src="<%= data.url %>" alt="Cloudinary Image">
    <p><%= data.original_filename  %></p>
<% } else { %>
    <h1><%= data.message %></h1>
<% } %>

</body>
</html>